<div id="walker_header">
    <h1><a href="http://www.walkerart.org/">Walker Art Center</a></h1>
    <div class="weather">
      <%= partial "partials/weather"%>
    </div>
    <a class="menu" href="#">Menu</a>
    <a class="art_on_call_link" href="http://www.walkerart.org/art-on-call">Art on Call</a>
    <nav>
        <div id="mobile_search">
            <form method="get" accept-charset="utf-8" action="http://www.walkerart.org/search/" autocomplete="off">
                <input type="search" value="" id="q" name="q" placeholder="Search" />
                <input type="hidden" id="search_url" />
            </form>
        </div>
        <ul>
            <li id="visit">
                <a href="http://www.walkerart.org/visit">Visit</a>
                <ul>
                    <li><a class="nav_1" href="http://www.walkerart.org/visit/hours-and-admission">Hours &amp; Admission</a></li>
                    <li><a class="nav_2" href="http://www.walkerart.org/visit/directions-and-parking">Directions &amp; Parking</a></li>
                    <li><a class="nav_3" href="http://www.walkerart.org/visit/accessibility">Accessibility</a></li>
                    <li><a class="nav_4" href="http://www.walkerart.org/visit/dining">Dining</a></li>
                    <li><a class="nav_5" href="http://www.walkerart.org/visit/tours">Tours</a></li>
                    <li><a class="nav_6" href="http://garden.walkerart.org/">Minneapolis Sculpture&nbsp;Garden</a></li>
                    <li><a class="nav_7" href="http://shop.walkerart.org/">Walker Shop</a></li>
                </ul>
            </li>
            <li id="exhibitions_events">
                <a href="http://www.walkerart.org/calendar">Exhibitions &amp; Events</a>
                <ul>
                    <li><a class="nav_1" href="http://www.walkerart.org/calendar">Calendar</a></li>
                    <li><a class="nav_2" href="http://www.walkerart.org/target-free-thursday-nights">Target Free Thursday&nbsp;Nights</a></li>
                    <li><a class="nav_3" href="http://www.walkerart.org/free-first-saturdays">Free First Saturdays</a></li>
                    <li><a class="nav_4" href="http://www.walkerart.org/ticketed-events">Ticketed Events</a></li>
                </ul>
            </li>
            <li id="media">
                <a href="http://www.walkerart.org/magazine">Media</a>
                <ul>
                    <li><a class="nav_1" href="http://www.walkerart.org/magazine">Walker Magazine (News &amp; Articles)</a></li>
                    <li><a class="nav_2" href="http://blogs.walkerart.org/">Walker Blogs</a></li>
                    <li><a class="nav_3" href="http://www.walkerart.org/channel">Walker Channel (Video)</a></li>
                    <li><a class="nav_4" href="http://www.walkerart.org/art-on-call">Art on Call (Audio Guide)</a></li>
                </ul>
            </li>
            <li id="collections">
                <a href="http://walkerart.org/collections">Collections</a>
                <ul>
                    <li><a class="nav_1" href="http://walkerart.org/collections">Permanent Collection</a></li>
                    <li><a class="nav_2" href="http://gallery9.walkerart.org/">Gallery 9 (Digital Media)</a></li>
                    <li><a class="nav_3" href="http://www.walkerart.org/film-video/ruben-bentson-film-and-video-study-collection">Ruben/Bentson Film &amp; Video Study Collection</a></li>
                </ul>
            </li>
            <li id="join">
                <a href="http://www.walkerart.org/membership">Join</a>
                <ul>
                    <li><a class="nav_1" href="http://www.walkerart.org/membership">Membership</a></li>
                    <li><a class="nav_2" href="http://www.walkerart.org/support">Support &amp; Donate</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
